/*
https://blog.koalite.com/bbg/
*/
.btn-orange {
  color: #ffffff;
  background-color: #e06b1d;
  border-color: #bf6a24;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active {
  color: #ffffff;
  background-color: #f78539;
  border-color: #bf6a24;
}

.btn-orange:active,
.btn-orange.active {
  background-image: none;
}

.btn-orange.disabled,
.btn-orange[disabled],
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active {
  background-color: #e06b1d;
  border-color: #bf6a24;
}

.btn-indigo {
  color: #ffffff;
  background-color: #8540f5;
  border-color: #140330;
}

.btn-indigo:hover,
.btn-indigo:focus,
.btn-indigo:active,
.btn-indigo.active {
  color: #ffffff;
  background-color: #520dc2;
  border-color: #140330;
}

.btn-indigo:active,
.btn-indigo.active {
  background-image: none;
}

.btn-indigo.disabled,
.btn-indigo[disabled],
.btn-indigo.disabled:hover,
.btn-indigo[disabled]:hover,
.btn-indigo.disabled:focus,
.btn-indigo[disabled]:focus,
.btn-indigo.disabled:active,
.btn-indigo[disabled]:active,
.btn-indigo.disabled.active,
.btn-indigo[disabled].active {
  background-color: #8540f5;
  border-color: #140330;
}

.setting-block {
  text-align: right;
}

.navbar {
  padding: 0 0.25rem;
}

.navigation .shortcuts {
  display: flex;
  justify-content: space-evenly;
}

.navigation .shortcut-item {
  margin-top: 5px;
  margin-right: 10px;
}

.navigation > nav {
  height: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.navItems {
  justify-content: flex-end;
}

.nav-caption {
  font-size: x-small;
  margin: auto;
  width: fit-content;
}

.dropdown-divider {
  margin: 0.25rem 0;
}

/* navbar-toggler.collapsed */
.navbar-toggler {
  padding-top: 0.5rem;
  outline-style: none !important;
}
/* .nav-toggle-btn--active .nav-toggle-btn__line:nth-of-type(2) { */
.navbar-toggler:not(.collapsed) .nav-toggle-btn__line:nth-of-type(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
  background: white;
  z-index: 1000;
  position: absolute;
}
.navbar-toggler:not(.collapsed) .nav-toggle-btn__line:nth-of-type(2) {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
  opacity: 0;
}
.navbar-toggler:not(.collapsed) .nav-toggle-btn__line:nth-of-type(3) {
  -webkit-transform: translateY(0px) rotate(-45deg);
  -ms-transform: translateY(0px) rotate(-45deg);
  transform: translateY(0px) rotate(-45deg);
  position: absolute;
  z-index: 1000;
  background: white;
}
.nav-toggle-btn__line {
  width: 25px;
  height: 3px;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  display: block;
  background-color: #000;
  margin-bottom: 5px;
}

@media screen and (max-width: 992px) {
  .navigation {
    margin: 0;
  }

  #navbarSupportedContent {
    position: absolute;
    width: 100%;
    top: -5px;
    left: 0;
    color: white;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
    padding: 0 5px;
    height: 100vh;
  }
}

.not-a-real-icon {
  font-size: xx-large;
  height: 35px;
  position: relative;
  top: -10px;
}

html,
body {
  height: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  color: inherit;
}

.clickable {
  cursor: pointer;
}

#page-content {
  flex: 1 0 auto;
}

.appContainer {
  /* width: 95%; */
  /* max-width: 600px; */
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-panel {
  height: 70%;
}

.main-panel > div button {
  margin: 2em 0;
}

/* override */
.btn-warning {
  color: white !important;
}

.correct-color {
  color: #28a745 !important;
}

.incorrect-color {
  color: #ee3000 !important;
}

.question-color {
  color: orange;
}

.disabled-color {
  color: lightgray;
}

.sm-icon-grp {
  padding-left: 16px;
}

/* bare container css no media queries */
.my-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .nav-toggle-btn__line {
  background-color: white;
}
