.navbar {
  padding: 0 0.5rem;
}

.navigation .flexContainer {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.navigation .shortcuts {
  display: flex;
  justify-content: space-evenly;
}

.navigation .shortcut-item {
  margin-top: 5px;
  margin-right: 10px;
}

.navigation .shortcuts svg {
  margin: auto;
  width: 40px;
}

.navigation > nav {
  background-color: #404040;
}

.navItems {
  justify-content: flex-end;
}

.nav-caption {
  font-size: x-small;
  margin: auto;
  width: fit-content;
}

.dropdown-divider {
  margin: 0.25rem 0;
}

/* navbar-toggler.collapsed */
.navbar-toggler {
  padding-top: 0.5rem;
}
/* .nav-toggle-btn--active .nav-toggle-btn__line:nth-of-type(2) { */
.navbar-toggler:not(.collapsed) .nav-toggle-btn__line:nth-of-type(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
.navbar-toggler:not(.collapsed) .nav-toggle-btn__line:nth-of-type(2) {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
  opacity: 0;
}
.navbar-toggler:not(.collapsed) .nav-toggle-btn__line:nth-of-type(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.nav-toggle-btn:hover .nav-toggle-btn__line {
  background-color: #000;
}
.nav-toggle-btn__line {
  width: 25px;
  height: 3px;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  display: block;
  background-color: #000;
  margin-bottom: 5px;
}

@media screen and (max-width: 992px) {
  .navigation {
    margin: 0;
  }

  #navbarSupportedContent {
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
    color: white;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
    padding: 0 5px;
  }
}
