/** Prevent darkmode text unreadable*/
.sheet-container {
  color: black;
}

/** Hint sheet is saved or edited*/
.dark-mode .sheet-container > div {
  border-top: 1px solid var(--bs-dark);
}

/* .sheet-container > div {
  border: 1px solid var(--bs-light);
  border-bottom: unset;
}

.sheet-no-save-state .sheet-container > div {
  border: 1px solid var(--bs-pink);
} */

.sheet-settings-search {
  padding-top: 0px;
  padding-bottom: 1px;
}

.sheet-settings-search form input {
  height: 20px;
}

@keyframes animation-sheet-no-save-vertical {
  0% {
    opacity: 1;
    background-position: -23px 0;
  }
  60% {
    opacity: 0;
    background-position: -23px 0;
  }
  100% {
    opacity: 1;
    background-position: -23px -200px;
  }
}

/** Not-yet-saved border animation */
.z-index-1 {
  z-index: 1;
}

/** Fabs pop above app nav menu */
.z-index-unset {
  z-index: unset !important;
}

/** bottombar align w/ row header */
.x-spreadsheet-bottombar {
  padding-left: 35px;
}
/** bottombar Remove Add/select menu */
.x-spreadsheet-bottombar .x-spreadsheet-menu > li:first-child {
  display: none;
}
