html,
body {
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .no-scroll {
    overflow: unset;
  }
}

.h-0 {
  height: 0;
}

.w-0 {
  width: 0;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.mw-50 {
  max-width: 50% !important;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  color: inherit;
}

.clickable {
  cursor: pointer;
}

#app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

.main-panel > div button {
  margin: 2em 0;
}

.correct-color {
  color: #28a745 !important;
}

.incorrect-color {
  color: #ee3000 !important;
}

.question-color {
  color: #ffa500;
}

.done-color {
  color: #0059ff;
}

.info-color {
  color: #737ca1;
}

.disabled-color {
  opacity: 25%;
}

.opacity-25 {
  opacity: 25%;
}

.opacity-50 {
  opacity: 50%;
}

.opacity-75 {
  opacity: 75%;
}

.opts-max-h {
  max-height: 24px;
}

.sm-icon-grp {
  padding-left: 16px;
}

.sm-kanji {
  max-height: 24px;
}

.sm-kanji rt {
  word-break: keep-all;
  font-size: 30%;
}

/* bare container css no media queries */
.options-bar {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

/* xx small devices (576px and down)*/
@media (max-width: 576px) {
  .options-bar .col {
    /* split-width-view avoid options-bar break */
    width: unset;
    /* flex: unset; */
    padding: 0;
  }
}

.dark-mode {
  background-color: var(--bs-dark);
  color: var(--bs-light);
}

.dark-mode .nav-btn-line {
  background-color: var(--bs-light);
}

.underline {
  border-bottom: 2px solid var(--bs-dark) !important;
}

.dark-mode .underline {
  border-bottom: 2px solid var(--bs-light) !important;
}

.fs-kanji-huge {
  font-size: 10rem;
}
/* .fs-display-1 {
  font-size: 5rem;
}

.fs-display-2 {
  font-size: 4.5rem;
}

.fs-display-3 {
  font-size: 4rem;
}

.fs-display-4 {
  font-size: 3.5rem;
} */

.fs-display-5 {
  font-size: 3rem;
}

.fs-display-6 {
  font-size: 2.5rem;
}

.fs-x-small {
  font-size: 0.75rem;
}

.fs-xx-small {
  font-size: xx-small;
}

.app-sm-fs-xx-small {
  font-size: xx-small;
}

.lh-furigana {
  line-height: 1.8;
}

.lh-xs {
  line-height: 1;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .app-sm-fs-xx-small {
    font-size: unset;
  }
}

.rotate-transition {
  transition: transform 1s;
}

.rotate-45 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate-135 {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate-270 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.notification {
  width: 0;
  display: inline-block;
  font-size: xx-small;
  position: relative;
  top: -11px;
}

.notification-fade {
  transition: opacity 5s;
  opacity: 0;
}

.notification-fade-in {
  transition: opacity 5s;
  opacity: 100%;
}
