.dark-mode #tooltip {
  background: #424242;
  border: unset;
}

.dark-mode #arrow {
  border: unset;
}

#tooltip {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 20px 0;

  /* border: 1px solid var(--bs-dark); */

  -webkit-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#tooltip :first-child {
  z-index: 1; /** show slider shadow above #arrow */
}

.tooltip-fade {
  opacity: 0;
}

/*
.x-button {
  position: absolute;
  top: -3px;
  right: 1px;
}
*/

#arrow {
  background: inherit;
  transform: rotate(45deg);

  /* border-bottom: 1px solid var(--bs-dark);
  border-right: 1px solid var(--bs-dark); */

  box-shadow: 3px 3px 4px -2px var(--bs-dark);
}
