html,
body {
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .no-scroll {
    overflow: unset;
  }
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  color: inherit;
}

.clickable {
  cursor: pointer;
}

#app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

.main-panel > div button {
  margin: 2em 0;
}

.correct-color {
  color: #28a745 !important;
}

.incorrect-color {
  color: #ee3000 !important;
}

.question-color {
  color: orange;
}

.info-color {
  color: #737ca1;
}

.disabled-color {
  opacity: 25%;
}

.opacity-25 {
  opacity: 25%;
}

.transparent-color {
  opacity: 0%;
}

.opts-max-h {
  max-height: 24px;
}

.sm-icon-grp {
  padding-left: 16px;
}

.sm-kanji {
  max-height: 24px;
}

.sm-kanji rt {
  font-size: 25%;
}

/* bare container css no media queries */
.options-bar {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.dark-mode {
  background-color: var(--bs-dark);
  color: var(--bs-light);
}

.dark-mode .nav-btn-line {
  background-color: var(--bs-light);
}

.fs-xx-small {
  font-size: xx-small;
}

.app-sm-fs-xx-small {
  font-size: xx-small;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .app-sm-fs-xx-small {
    font-size: unset;
  }
}

.z-index-1 {
  z-index: 1;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate-45 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rotate-135 {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.notification {
  font-size: xx-small;
  position: relative;
  left: -3px;
  top: -12px;
}
